body{
    margin: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name{
    color: rgb(218, 8, 137);
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    font-weight: bolder;
    border: 5px solid red;
    border-radius: 30px;
    color: rgb(47, 228, 11);
    background-image: linear-gradient(green, tomato);
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
}
.sigle-exprience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    height: 100%;
    background-color: white;
}
.exprience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stuck{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);

    border-image-slice: 1;
}
#baby-web{
    border-right: 7px solid;
    border-image: linear-gradient(180deg, blue, yellow);
}
footer p{
    text-align: center;
    font-size: 10px;
}