body{
    font-family: 'Yellowtail', cursive;

}




h1{
    font-size: 50px;
}
.name{
    color: rgb(218, 8, 137);
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 50%;
}

